* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Navigation-bar {
  background-color: #26252d;
  height: 45px;
  padding-top: 10px;
}
.Navigation-bar > a {
  color: white;
  text-decoration: none;
  margin-left: 40px;
  overflow: hidden;
  font-size: 18px;
  font-family: sans-serif;
  text-align: center;
  cursor: pointer;
}
.Navigation-bar > a:hover {
  padding: 4px 25px;
  background-color: #317deb;
  border-radius: 32px;
}
